.calculadora{
    display: block;
    margin:0 auto;
    padding: 20px;
    background-color:red;
    width: 400px;
    height: 650px;
    border-radius: 30px;
}

.calculadora td button{
    display: block;
    width: 85px;
    height: 85px;
    font-size: 30px;

}
#resultado{
    display: block;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    width: 350px;
    height: 110px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 26px;
    overflow-y: scroll;


}